#ifndef __CONFIG_H__
#define __CONFIG_H__

// Pin configuration
#define db7   2
#define db6   3
#define db5   4
#define db4   5
#define lcdE  6
#define lcdRS 7
#define gsmRX 8
#define gsmTX 9
#define btnDownPin 10
#define btnUpPin   11
#define btnNextPin 12
#define oneWirePin A0

// Temperature settings
#define numSensors 3
#define thresholdMinChange 1 // 0.1 °C
#define tempCheckTimeout 1000 // 1 sec. = 1000 × 1 ms

byte sensorAddresses[numSensors][8] = {
  { 0x28, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0 },
  { 0x28, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0 },
  { 0x28, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0 }
};

// GSM settings
#define phoneNumber "+31612121212"
#define alarmTimeout 1800000 // 30 min. = 1000 × 60 × 30

// Display settings
#define displayTimeout 5000 // 5 sec. = 1000 × 5 ms

#endif

// vim:softtabstop=2:shiftwidth=2:expandtab:
